<div class="-container">
  <div class="booking-frame">
    <div class="booking-img">
    <%= cl_image_tag(@dress.photo.url, :width=>200, :height=>300) %>
    </div>

    <div class="booking-row">
      <div class="-book">
        <h3><%= @dress.name %></h3>
        <%= simple_form_for [@booking, @dress] do |f| %>
        <%= f.input :date %>
        <%= f.button :submit %>
        <% end %>
      </div>
      <!-- INSERT CALENDAR FEATURE -->
      <div class="product-details">
        <div class="details">
          <p>Price</p>
          <p>Size</p>
          <p>Colour</p>
        </div>
        <!-- @DRESS ITERATION STARTS HERE -->
        <div class="values">
          <p><%= @dress.price %></p>
          <p><%= @dress.size %></p>
          <p><%= @dress.color %></p>
        </div>
      </div>
      <%= simple_form_for [@dress, @booking]  do |f| %>
        <%= f.input :date %>
         <%= f.button :submit, "Confirm" %>
      <% end %>
    </div>
  </div>
