<h1>Dashboard</h1>

<div class="container">
  <div class="row d-flex">
      <% @dresses.each do |dress| %>
        <% if dress.user_id == current_user.id %>
          <div class="col col-sm-1 col-md-2 col-lg-4">
          <div class="card-dress">
            <%= image_tag dress.photo.url %>
          <div class="card-dress-infos">
            <div>
              <h2><%= dress.name %></h2>
              <p><%= dress.size %></p>
            </div>
            <h2 class="card-dress-pricing"><%= dress.price %>€</h2>
            <%= image_tag "mariko_user.jpg", :class => "card-dress-user avatar-bordered"%>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
</div>
