<!-- Hero / Banner section -->
<div class="banner">
  <div class="container">
    <h1>Flattering Attires </br> for all ocassions</h1>
    <p><a class="btn-cta" href="#">Rent now</a></p>
  </div>
</div>

<!-- Dresses section -->
<div class="container">
  <div class ="sub-title">
    <h2>New Arrivals</h2>
    <div class="container">
      <div class="row">
        <% @dresses.each do |dress| %>
          <div class="col col-sm-1 col-md-2 col-lg-4">
            <div class="card" style="width: 18rem;">
            <%= image_tag dress.photo.url, alt: dress.name, :class => "card-dress" %>
              <div class="card-body">
                <h5 class="card-title"><%= dress.price %> €</h5>
                <p class="card-text"><%= dress.name %></p>
                <p class="card-text"><%= dress.size %></p>
                <p class="card-text"><%= dress.color %></p>
                <% owner = User.find_by(id: dress.user_id) %>
                  <% if owner.photo.blank? == false %>
                    <%= image_tag owner.photo.url, :class => "card-dress-user avatar-bordered"%>
                  <% else %>
                    <%= image_tag "no_picture.png", :class => "card-dress-user avatar-bordered"%>
                  <% end %>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
