<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Publish a new dress</h1>
      <%= simple_form_for @dress do |f| %>
        <%= f.input :name %>
        <%= f.input :color %>
        <%= f.input :size %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :address %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
